body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;

	font-size: 15px;
	color: #333;
	line-height: 1.6;
}


a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}


*,
*:before,
*:after {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

/* conteiner */

.header--header {
    background-color: #333333;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.NEW-container {
    width: 100%;
	max-width: 1800px;
	margin: 0 auto;
}

.currency {
    display: flex;
}

.text__currency {
    font-size: 13px;
    font-weight: 400;
    color: #777777;
}

.text__curency--border {
    margin-left: 10px;
    content: "";
    display: block;
    border-left: 1px solid #777777;
    border-bottom: 1px solid #777777;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transform: rotate(-45deg);
}

.header__siptitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.register__header {
    color: aliceblue;
}

.register__sign {
    display: flex;
    align-items: center;
}

.register--header {
    text-decoration: none;
    padding-right: 40px;
    color: #777777;
}

.sign--header {
    text-decoration: none;
    padding-right: 80px;
    color: #777777;
}

.register--header:hover {
    color: white;
}
.sign--header:hover {
    color: white;
}

.basket__header {
    position: relative;
    padding-right: 20px;
}

.basket__header i{
    position: absolute;
    left: -25px;
    top: 4px;
    z-index: 1;

}

.empty--kor {
    margin-left: 10px;
    content: "";
    display: block;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    width: 10px;
    height: 10px;
    cursor: pointer;
    transform: rotate(-45deg);

    position: absolute;
    top: 20%;
    right: 0;
    z-index: 1;
}

.basket__header--title {
    padding: 10px 15px 10px 40px;
    background-color: #00c8c8;
    cursor: pointer;

    position: relative;
}
.dropdown__list-basket {
    display: none;

    width: 100%;
    background-color: #00c8c8;
    cursor:default;

    
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    color: #333;
}

.basket__header--title._active .dropdown__list-basket {
    display: block;

    
}

.dropdown__link-basket {
    font-size: 10px;
    padding-bottom: 10px;
    
}


.dropdown__link-basket-empty {
    padding-bottom: 10px;
}

.minus__item {
    display: block;
    content: "";
    width: 20px;
    height: 4px;
    background-color: rebeccapurple;

    position: relative;
    top: 10px;
    right: 25px;
    z-index: 2;
    
    cursor: pointer;
}

.__active {
    background-color: #00c8c8;
}











.me-auto2 {
    margin-left: auto!important;
}

.padding__dropdowm {
    padding-right: 40px;
}

.padding__dropdowm:last-child {
    padding-right: 60px;
}

.heder__top {
    background: url('../img/intro.jpg') no-repeat center;
    height: 97vh;
    background-size: cover;
}

.header__brand {
    background: url('../img/brandIntro.jpg') no-repeat center;
    background-size: cover;
    height: 454px;
    margin: 50px 0px;
}


/* dropdown */
.flex__dropdown {
    display: flex;
}

.flex__left {
    flex: 1 1 0;
}

.flex__right {
    flex: 1 1 0;
}

/*custom nav*/
.avenue {
    color: #333;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.avenue__fashion {
    font-weight: 400;
}

.mens__custom {
    font-size: 13px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}

.mens__custom:hover {
    color: #00c8c8;
}


.brand__custom {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    color: #333;
}

.brand__custom:hover {
    color: #00c8c8;
}


.casuals--style {
    padding-bottom: 40px;
} 


.casuals--style:hover {
    background: none;

}

.dropdown-menu {
    background-color: #f8f8f8;
}

.casuals--style--font {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}

.item__monserat {
    font-size: 14px;
    font-weight: 300;
}

.img__autumn {
    margin: 32px;
    margin-top: 55px;
}

.position--container {
    position: relative;
}

.man__image {
    position: absolute;

    top: 44px;
    left: 300px;

    z-index: 1;
}

.title__h1 {
    position: relative;

    text-transform: uppercase;
    font-size: 450px;
    font-weight: 900;
    color: #575153;
    text-align: center;
    padding-top: 80px;
}

.title__button {
    position: absolute;

    top: 800px;
    right: 300px;
    z-index: 1;
}

.title__button {
    text-decoration: none;
    color: #333;
    border: 1px solid black;
    font-weight: 400;
    text-transform: uppercase;
    padding: 20px 37px;
}

.title__button:hover {
    background: #00c8c8;
    color: white;
}

/* section */

.section {
    padding: 60px 0 0 0;
    
}

.nav--section {
    padding: 40px 0;
}

.style--nav--link {
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    font-weight: 400;
}

.style--nav--link:hover {
    color: #00c8c8;
}

.nav--padding {
    padding-bottom: 40px;
}

.plus__padding {
    padding-left: 43px;
}

.plus__pad {
    padding-left: 25px;
}

.margin__row {
    margin-top: 30px;
}

.col__rano {
    padding: 0;
    
}

.shop__hover {
    display: none;
    width: 440px;
    height: 160px;
    text-align: center;
    background-color: white;
}

.col__rano:hover {
    background-color: #f8f8f8;
    box-shadow: 0 5px 10px black;
    
}

.col__rano:hover .shop__hover {
    display: block;
}

.shop__text {
    color: #7b7b7b;
    padding: 20px 0;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.shop__p {
    font-size: 15px;
    font-weight: 400;
    color: #d9d9d9;
}

.shop__icon {
    padding: 6px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;

}

.positionblock {
    position: relative;
    text-align: center;
}

.cena__posiomn {
    display: block;
    font-size: 21px;
    font-weight: 300;
    color: #b7b7b7;
    position: absolute;
    padding-left: 5px;
    padding-top: 5px;
}

/*lookbook*/

.lookbook {
    display: flex;
}

.lookbook__col {
    flex: 1 1 0;
    width: 665px;
    height: 535px;
    background-color: #f8f8f8;
    margin-right: 30px;
}

.lookbook__col:last-child {
    margin-right: 0;
}

.style__img--people--last {
    padding-top: 47px;
    padding-left: 10px;
}

.img__lookbook {
    display: flex;
}

.lookbook__col--img {
    flex: 1 1 0;
}

.lookbook__text {
    flex: 1 1 0;
    padding-top: 100px;
    padding-right: 40px;
}

.suptitle__lookbook {
    font-size: 48px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-align: right;
}

.title__lookbook {
    font-size: 48px;
    font-weight: 300;
    color: #575153;
    text-transform: uppercase;
}

.subtitle__lookbook {
    font-size: 15px;
    font-weight: 400;
    color: #7b7b7b;
    text-align: right;
}

.link__btn {
    padding-top: 35px;
    text-align: right;
}
.button__lookbook {
    text-decoration: none;
    text-align: right;
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    font-weight: 400;
    padding: 20px 30px;
    border: 1px solid black;
}

.button__lookbook:hover {
    background-color: #00c8c8;
    color: white;
}

/*footer*/

.footer {
    margin-top: 130px;
    background-color: #f8f8f8;
    height: 590px;
}

.information__footer {
    display: flex;
}

.col__footer {
    flex: 1 1 0;
    padding-top: 65px;
}

.text__footer {
    padding-bottom: 30px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    color: #827e7f;
}

.link__foot {
    
    padding-bottom: 10px;
}

.link__footer {
    text-decoration: none;
    color: #a8a8a8;
    font-size: 14px;
    font-weight: 300;
}

.link__footer:hover {
    color: #333;
    text-decoration: underline;
}

.two__btn {
    display: flex;
}

.col__btn {
    flex: 1 1 0;
    margin-right: 34px;
    margin-top: 50px;
    text-align: center;
    color: white;
    background-color: black;
    font-size: 36px;
    text-transform: uppercase;
}

.col__btn:last-child {
    margin-right: 0;
    background-color: #00c8c8;
    
    
}

.padding__fashion {
    padding: 50px 20px;
}

.last__fashion {
    font-weight: 700;
}

.pre__last {
    font-weight: 300;
}

.center__fashion {
    padding-top: 60px;
}


.link__social {
    text-decoration: none;
    color: white;
    margin-right: 40px;
}

.link__social:last-child {
    margin-right: 0;
}

.padding--footer {
    padding: 10px 0;
}

/*signapp*/
.container__sign {
    width: 100%;
    
    max-width: 600px;
    
    margin:0 auto;
    
    
    
}

.ravno {
    margin-top: 25vh;
    background-color: white;
    box-shadow: 1px 1px 3px black;
    
    

}

.sign-in {
    background-color: #ffffff;
}

.sighup__text {
    font-size: 30px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 50px;
    font-weight: 400;
}

.center__sign {
    margin: 0 auto;
}

.form__sign {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    
}

.email {
    margin-bottom: 40px;
    width: 550px;
    height: 38px;
    border: 1px solid #575153;
    padding: 5px 10px;
}

.password {
    margin-bottom: 30px;
    width: 550px;
    height: 38px;
    border: 1px solid #575153;
    padding: 5px 10px;
}

.email:focus {
    outline: 0;
	border-color: #bb5465;
    background-color: #fcf6f7;
}

.password:focus {
    outline: 0;
	border-color: #bb5465;
    background-color: #fcf6f7;
}

.email::placeholder {
    color: #b3b1b1;
    
}

.password::placeholder {
    color: #b3b1b1;
    
}

.sign__btn {
    margin-bottom: 70px;
    padding: 15px 45px;
    color: #333;
    background-color: white;
    text-transform: uppercase;
    border: 1px solid #00c8c8;
}

.sign__btn:hover {
    background-color: #00c8c8;
    color: white;
}

.fargot__pass {
    text-decoration: none;
    color: #00c8c8;
    margin-left: 200px;
}

.position__of__top {
    position: relative;
    bottom: 200px;
    z-index: 0;
}

.positon__top__top {
    position: relative;
    z-index: 1;
}

.check_box {
    margin-bottom: 30px;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.text__check {
    font-size: 13px;
    font-weight: 400;
    color: #827e7f;

    
}

.checkbox__item {
    text-align: center;
    display: flex;
}

/* The Brand */
.intro__brand {
    text-align: center;

}


.sup__title__brand {
    font-size: 48px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    padding-top: 166px;
    padding-bottom: 30px;
}

.sup__title__brand span {
    font-weight: 300;
}

.title__brand {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
}

.reputaion {
    display: flex;
}

.col__rep {
    flex: 1 1 0;
}

.img__brand--main {
    padding-bottom: 60px;
}

.img__brand--main2 {
    padding-bottom: 30px;
}

.value__brand {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    color: #575153;
    padding-bottom: 15px;
}

.value__brand--sub {
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase ;
    color: #a1a1a1;
    padding-bottom: 10px;
}

.brand__sub--sub {
    font-size: 12px;
    font-weight: 400;
    color: #777777;
}

.brand__sub--sub a:hover {
    color: #00c8c8;
}

.two--brand {
    padding-top: 50px;
}

.col__rep--one {
    padding-right: 30px;
}

.img__brand {
    padding-top: 40px;
}

.awards__png {
    padding-top: 70px;
    display: flex;
}

.img__flex--col {
    flex: 1 1 0;
}